<div class="panel" id="panel">
    <div class="wrapper">
        <div class="data-set wave-height">
            <p>Wave Height</p>

            <h2 class="data wave-height-data"></h2>
        </div>

        <div class="data-set temperature">
            <p>Temperature</p>

            <h2 class="data temp"></h2>
        </div>

        <div class="data-set sunrise">
            <p>Sunrise</p>

            <h2 class="data sunrise-data"></h2>
        </div>

        <div class="data-set sunset">
            <p>Sunset</p>

            <h2 class="data sunset-data"></h2>
        </div>

        <div class="all-the-stokes">
            <div class="shaka-meter">
                <p class="title">GnarMeter&trade;</p>

                <ul>
                    <li>The gnar is totally harshing my vibes</li>
                    <li>The gnar totally does not have me stoked</li>
                    <li>The gnar has totally awaken</li>
                    <li>The gnar is totally calling my name!</li>
                    <li>The gnar is the definition of gnarly!</li>
                </ul>
            </div>

            <div class="visualization-container">
                <div class="map-container">
                    <div class="map-title">
                        <p class="title office-title"></p>

                        <p class="title beach-title"></p>
                    </div>

                    <div class="map-wrapper">
                        <div class="map" contenteditable="" id="map"></div>
                    </div>
                </div>

                <div class="chart-container">
                    <p class="title">24Hr-gnar-cast&trade;</p>

                    <div class="chart-wrapper">
                        <canvas class="gnarChart" id="gnarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video-wrapper">
    <video id="videoId" class="video-js vjs-default-skin" controls preload="auto"></video>
</div>

<div class="fullscreen-image-wrapper">
    <img class="fullscreen-image poster"/>

    <h1 class="beach-initials"></h1>
</div>

<div class="shred-the-gnar">
    <canvas class="shred-the-gnar-canvas" id="shred-the-gnar-canvas"></canvas>

    <div class="call-to-shred">
        <h1 class="call-to-shred-text"><span class="shred-location"></span> Time to <i>Shred!!!!!!!</i></h1>
    </div>
</div>
