
body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

#textSection {
	width: 300px;
	position: absolute;
	left: 95px;
	top: 42%;
}


#HheadText {
  font-family: "Huge Avant Garde";
	font-size: 90px;
  letter-spacing: -4px;
  margin-bottom: 20px;
 /*set color on individual html page*/
 /*color: white;*/
}

#HsubText {
	font-family: "Galaxie";
	font-size: 23px;
	line-height: 28px;
	/*set color on individual html page*/
	/*color: #fff;*/
}

/*ANNOUNCEMENTS STYLES*/


#textSection.wide {
	width: 1600px;
	top: 41%;
}

#headText{
	font-family: "Huge Avant Garde";
	font-size: 110px;
  	letter-spacing: -4px;
  	margin-bottom: 20px;
}
#subText {
	font-family: "Galaxie";
	font-size: 23px;
	line-height: 28px;
	font-style: italic;
}


#footerText {
	font-family: "Huge Avant Garde";
  font-size: 50px;
  letter-spacing: -4px;
  bottom: 97px;
  position: absolute;
  left: 95px;

}
.placeHeadline{
	font-family: "Galaxie";
	font-style: italic;
	font-size: 25px;
	letter-spacing: 0px;
	margin-bottom: 8px;
}

.placeSub.bottom-margin{
	margin-bottom: 16px; 
}

#topicHeadline{
	font-family: "Galaxie";
	font-style: italic;
	font-size: 35px;
	letter-spacing: 0px;
	margin-bottom: 8px;
}





