html {
  background-color: #000;
}

html,
body {
    color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body.shred {
    animation: rattle 0.3s linear infinite 0.75s;
}

@keyframes rattle {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(-5deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.video-wrapper {
    height: 100vh;
    width: 100vw;
}

.letterboxed > div {
    height: 140%;
    top: -10%;
}

video {
    height: 100%;
    width: 100%;
}

.video-js {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -999;
}

.fullscreen-image {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-sizing: border-box;
    font-family: "Huge Avant Garde";
    font-size: 11vw;
    left: 50%;
    margin: 0;
    padding: 0 6vw;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

@keyframes flash1 {
    0% {
        color: #00e6f0;
    }

    25% {
        color: #00ff00;
    }

    50% {
        color: #ffff00;
    }

    75% {
        color: #ff6800;
    }

    100% {
        color: #ff14ab;
    }
}

@keyframes flash2 {
    0% {
        color: #9c3565;
    }

    25% {
        color: #e867a3;
    }

    50% {
        color: #ece080;
    }

    75% {
        color: #3ea4b5;
    }

    100% {
        color: #3d8e9c;
    }
}

@keyframes flash3 {
    0% {
        color: #14a697;
    }

    25% {
        color: #f2c12e;
    }

    50% {
        color: #f29d35;
    }

    75% {
        color: #f27649;
    }

    100% {
        color: #f25756;
    }
}

@keyframes flash4 {
    0% {
        color: #011c40;
    }

    25% {
        color: #0b758f;
    }

    50% {

        color: #f2e7ae;
    }

    75% {
        color: #f2c299;
    }

    100% {
        color: #f2a49b;
    }
}

@keyframes flash5 {
    0% {
        color: #bcecfe;
    }

    25% {
        color: #fffce3;
    }

    50% {
        color: #ffebf6;
    }

    75% {
        color: #c3eedf;
    }

    100% {
        color: #c4d1e3;
    }
}

@keyframes flash6 {
    0% {
        color: #80ffd1;
    }

    25% {
        color: #65cee8;
    }

    50% {
        color: #658eff;
    }

    75% {
        color: #8a65e8;
    }

    100% {
        color: #e86aff;
    }
}

h2 {
    color: #fff;
    font-size: 4.5vh;
    font-family: "Huge Avant Garde";
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 1.2;
    margin: 5px 0 10px;
    text-transform: uppercase;
}

h2 span {
  font-size: 3.5vh;
  text-transform: lowercase;
}

p {
    color: #fff;
    font-family: 'Copernicus Book';
    font-size: 1.5vh;
    font-weight: lighter;
    line-height: 1.6;
    margin: 0;
    text-transform: capitalize;
}

.title {
    margin-bottom: 0;
}

.shred .panel {
    left: 100%;
}

.panel {
    background-color: rgba(0, 138, 255, 0.5);
    box-sizing: border-box;
    display: block;
    float: right;
    height: 100vh;
    left: 0;
    padding: 2%;
    position: relative;
    transition: left 1s linear;
    width: 30%;
    z-index: 2;
}

.panel:before,
.border-inner:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.wrapper {
    height: 100%;
    position: relative;
    z-index: 10;
}

#water-temp {
  display: none;
}

.all-the-stokes {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.shaka-meter {
    margin-bottom: 60px;
}

.shaka-meter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shaka-meter li {
    background-image: url(../images/shaka-brah-inactive.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    font: 0/0 a;
    height: 2.8vw;
    margin-left: 9%;
    text-shadow: none;
    width: 3vw;
}

.shaka-meter li.gnarly {
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) infinite;
    backface-visibility: hidden;
    background-image: url(../images/shaka-brah-white.svg);
    perspective: 1000px;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(50deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.shaka-meter li:first-child {
    margin-left: 0;
}

.visualization-container {
  width: 100%;
}

.visualization-container .map-title {
    margin-bottom: 15px;
    padding-bottom: 25px;
    position: relative;
    text-align: center;
}

.visualization-container .map-title .title {
    display: inline-block;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
}

#office-title {
    animation: officeTitle 40s linear infinite;
    opacity: 1;
}

#beach-title {
    animation: beachTitle 40s linear infinite;
    opacity: 0;
}

@keyframes officeTitle {
    0%, 48% {
        opacity: 1;
    }

    52%, 98% {
        opacity: 0;
    }
}

@keyframes beachTitle {
    0%, 48% {
        opacity: 0;
    }

    52%, 98% {
        opacity: 1;
    }
}

.visualization-container .title {
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.visualization-container:after {
  content: "";
  display: table;
  clear: both;
}

.map-container {
    float: left;
}

.map-wrapper,
.chart-wrapper {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    display: inline-block;
    height: 12vw;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-transform: translate3d(0px, 0px, 0px);
    width: 12vw;
}

.chart-wrapper {
    background-color: rgba(14, 22, 38, 0.75);
}

.chart-container {
    float: right;
}

#map {
    height: 12.6vw;
    opacity: 0.75;
    width: auto;
}

#gnarChart {
    height: 9vw !important; /* override js added height */
    left: -1.2vw;
    position: absolute;
    top: 3.5vw;
    width: 15vw !important; /* override js added width */
}

#shred-the-gnar {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    transform: scale(0);
    top: 0;
    transition: all 0.75s linear;
    width: 100%;
}

.shred #shred-the-gnar {
    transform: scale(1);
}

.shred-the-gnar-canvas,
.call-to-shred {
    height: 100%;
    width: 100%;
}

.call-to-shred {
    left: 0;
    position: absolute;
    top: 0;
}

@media (max-height: 725px) {
    .shaka-meter {
        margin-bottom: 0;
    }

    .visualization-container {
        display: none;
    }
}

@media (max-width: 980px) {
    .shaka-meter li {
        margin-left: 6%;
    }
}
